h1, h2{
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 700;
}

@media (max-width: 797px){
    h1, h2{
        font-family: 'Raleway', sans-serif;
        font-size: 45px;
        font-weight: 700;
    }
    h3{
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
    }

    h4{
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 400;
    }
}

@media (max-width: 797px){
    header{
        .menu{
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
        }
    }
}


@media (max-width: 768px) {
    h1, h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 35px;
        font-weight: 700;
    }
    .container {
        .title-wrap {
            h3 {

                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

}

header{
    .menu{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

input{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

button{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.number{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
}


.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}


.btn{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.price{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
}



footer{
    li{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        span{
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 700;
        }
    }
    .title{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    input {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    button{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

}